@{
    ViewBag.Title = "Contacts";
}
<h2>@ViewBag.Title</h2>
<h3>Fair Officers</h3>

<table>
    <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Phone Number</th>
    </tr>
    <tr>
        <td>Manager</td>
        <td>Holly Wood</td>
        <td><a href="tel:253-843-1566">253-843-1566</a></td>
    </tr>
    <tr>
        <td>Secretary</td>
        <td>Dee Wood</td>
        <td><a href="tel:253-843-1352">253-843-1352</a></td>
    </tr>
    <tr>
        <td>Grounds Maintenance</td>
        <td>Cub Scout Pack 643</td>
        <td><a href="tel:360-539-6121">360-539-6121</a></td>
    </tr>
    <tr>
        <td>Rope Bridge</td>
        <td>Boy Scout Troup 643</td>
        <td><a href="tel:253-843-2419">253-843-2419</a></td>
    </tr>
</table>

<h3>Club Officers</h3>
<table>
    <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Phone Number</th>
    </tr>
    <tr>
        <td>President</td>
        <td>Ricky Hoskins</td>
        <td><a href="tel:253-278-0336">253-278-0336</a></td>
    </tr>
    <tr>
        <td>Vice President</td>
        <td>Kimberly Herring</td>
        <td><a href="tel:253-307-5517">253-307-5517</a></td>
    </tr>
    <tr>
        <td>Secretary</td>
        <td>Holly Wood</td>
        <td><a href="tel:253-843-1566">253-843-1566</a></td>
    </tr>
    <tr>
        <td>Treasureer</td>
        <td>Bridget Holt</td>
        <td><a href="tel:360-480-7066">360-480-7066</a></td>
    </tr>
</table>
<br />
<p><bold style="font-weight:900;">For more information email: </bold><a href="mailto:lacamasfair@gmail.com">LacamasFair@gmail.com</a></p>
