@{
    ViewBag.Title = "Directions to Lacamas Community Center";
}
<h2>@ViewBag.Title</h2>
<div class="col-md-6"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5445.600451913674!2d-122.44190900000001!3d46.965615!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549119fee82989df%3A0x798152702dcbe433!2s32113+8th+Ave+S%2C+Roy%2C+WA+98580!5e0!3m2!1sen!2sus!4v1566563575840!5m2!1sen!2sus" width="550" height="510" frameborder="0" style="border:0" allowfullscreen></iframe></div>
<div class="col-md-6"><img src="~/Documents/LacamasFairDirections.jpg" style="padding-top:0em;" /><br /></div>
<span></span>

