@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align:center">
    <h3>Welcome to the Lacamas Community Fair & Community Center Site!</h3>
    Check out our calendar below for upcoming events!
</div>
<div class="col-md-offset-2">
    <iframe  src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FLos_Angeles&amp;src=OW8wbGxoOTg1ODNsYXRpZXBkdmtucnZ0Z2dAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23A79B8E" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>