@{
    ViewBag.Title = "Bingo at the Lacamas Community Center";
    ViewBag.Message = "Looking for something fun to do on a Friday night?!";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Come join us for Bingo!
    <ul>
        <li>Doors open at 5 PM</li>
        <li>Kitchen opens at 5:30 PM</li>
        <ul>
            <li>Hamburgers</li>
            <li>Nachos</li>
            <li>Hotdogs</li>
        </ul>
        <li>Bingo starts at 7 PM</li>
        <li>Children 8 years and older are welcome to play when accompanied by a paying adult</li>
        <li>Card costs:</li>
            <ul>
                <li>6 hard cards for $5.00</li>
                <li>4 paper games for $1.00, or 2 for $0.50</li>
            </ul>
        <li>Proceeds benefit the Lacamas Community Fair!</li>
    </ul>
</p>
