@{
    ViewBag.Title = "Lacamas Community Club";
    ViewBag.Message = "Help make our community better!";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>The Lacamas Community Club meets on the first Wednesday of every month at 6:00 PM. Everyone is welcome. Come join us!</p>
