@{
    ViewBag.Title = "Facility Rental";
}
<h2>@ViewBag.Title</h2>

<table style="border:1px solid black; width:40%; text-align:center;">
    <tr>
        <th>Facility Rental Prices</th>
    </tr>
    <tr>
        <td>Rental Fee</td>
        <td>$425</td>
    </tr>
    <tr>
        <td>Kitchen Use</td>
        <td>$50</td>
    </tr>
    <tr>
        <td>Damage Deposit</td>
        <td>$500</td>
    </tr>
</table>


<p>For more information, or to check availability, please contact Ricky Hoskins at <a href="tel:253-278-0336">(253)278-0336</a></p>
