@{
    ViewBag.Title = "Fair Contacts";
    ViewBag.Message = "Fair Officers";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<table style="border:1px solid black; width:40%">
    <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Phone Number</th>
    </tr>
    <tr>
        <td>Manager</td>
        <td>Holly Wood</td>
        <td><a href="tel:253-843-1566">(253)843-1566</a></td>
    </tr>
    <tr>
        <td>Secretary</td>
        <td>Dee Wood</td>
        <td><a href="tel:253-843-1352">(253)843-1352</a></td>
    </tr>
    <tr>
        <td>Grounds Maintenance</td>
        <td>Cub Scout Pack 643</td>
        <td><a href="tel:360-539-6121">(360)539-6121</a></td>
    </tr>
    <tr>
        <td>Rope Bridge</td>
        <td>Boy Scout Troup 643</td>
        <td><a href="tel:253-843-2419">(253)843-2419</a></td>
    </tr>
</table>

<p><bold style="font-weight:900;">For more information email: </bold><a href="mailto:lacamasfair@gmail.com">LacamasFair@gmail.com</a></p>
