@{
    ViewBag.Title = "Fair Entry";
    ViewBag.Message = "Easy to enter, and everyone is welcome to participate!";
}
<h2>@ViewBag.Title</h2>
<h4>@ViewBag.Message</h4>

<div id="GeneralInfo">
    <h3>General Rules & Information</h3>
    <ul>
        <li>No entry fees required</li>
        <li>All ages are welcome</li>
        <li>You do not need to pre-register</li>
        <li>You do not need to be a 4-H or FFA member to participate</li>
    </ul>
</div>
<h3>Entry Forms</h3>
<table>
    <tr>
        <th colspan="2">Entry forms can be downloaded here, or picked up at the fairgrounds when entering</th>
    </tr>
    <tr>
        <td><a href="~/Documents/GeneralEntryForm.pdf">General Entry Form</a></td>
        <td><a href="~/Documents/HorseEntryForm.pdf">Horse Entry Form</a><br />
            <a href="~/Documents/HorseRelease.pdf">Horse Show Release Form</a></td>
    </tr>
</table>

<div id="StillLifeEntryInfo">
    <h3>Still Life Entry Information</h3>
    <ul>
        <li>Still life exhibits must be brought to the fairgrounds the Thursday prior to the Fair between 12 and 7 PM to enter</li>
        <li>All still life exhibits must remain at the fair until 4 PM on Sunday. Failure to comply will result in a loss of trophies and/or premiums</li>
        <li>No still life exhibits shall be eligible for premiums if shown in previous years</li>
        <li>A required number of goods must be exhibited to be eligible for ribbons or premiums ( see individual department rules in the <a href="~/Documents/FairBook.pdf">FairBook</a> )</li>
    </ul>
</div>

<div id="LiveAnimalEntryInfo">
    <h3>Live Animal Entry Information</h3>
    <ul>
        <li>Animals may be pre-entered on Thursday between 12 & 7 PM or entered on the morning of their exhibition day</li>
        <li>Please refer to the <a href="~/Documents/FairBook.pdf">FairBook</a> for overall animal rules as well as the rules for each animal department for exhibit days & other information</li>
        <li>Entry forms can be downloaded above, or picked up when you enter. You will need to get an exhibitor number before reporting to your department</li>
        <li>All animals must remain in place until 4 PM on their exhibit day(s). Failure to comply may result in a loss of trophies and/or premiums</li>
    </ul>
</div>

<div id="RibbonsAndPremiums">
    <h3>Ribbons & Premiums:</h3>
    <ul>
        <li>All exhibits are judged using the Danish System, everyone gets a ribbon</li>
        <li>Ribbons & premiums shall be awarded in all deparments</li>
        <li>The amount of premium money to be paid per point will be determined by the Fair Committee</li>
        <li>Premiums will be paid at the close of the fair on SUnday</li>
        <li>Premiums not picked up on Sunday may be picked up at the Community Club meeting on the first Wednesday in September or October at 7 PM</li>
        <li>Premiums not picked up by the October meeting will be donated to the fair general fund</li>
        <li>No premiums will be mailed</li>
    </ul>
</div>

<p>Age Divisions</p>
<table>
    <tr>
        <th>Youth</th>
        <th>Adult</th>
    </tr>
    <tr>
        <td>18 Years & Younger</td>
        <td>19 Years & Older</td>
    </tr>
    </table>

<p>Youth Divisions</p>
<table width="60%">
    <tr>
        <td colspan="4" style="text-align:center">Determined by the last grade completed</td>
    </tr>
    <tr>
        <td>Small Fry</td>
        <td>Junior</td>
        <td>Intermediate</td>
        <td>Senior</td>
    </tr>
    <tr>
        <td>2nd grade & under</td>
        <td>3rd-5th grade</td>
        <td>6th-8th grade</td>
        <td>9th-12th grade</td>
    </tr>
</table>
