@{
    ViewBag.Title = "FairBook";
}
<h2>@ViewBag.Title</h2>
<h4><a href="~/Documents/FairBook.pdf">Complete FairBook</a></h4>

<button class="collapsible"><h3>Home Economics Departments</h3></button>
<div class="content">

    <button class="collapsible"><h4>Baking</h4></button>
    <div class="content">
        <h4>Entries must have a recipe attached</h4>
        <button class="collapsible">Pies</button>
        <div class="content">
            <ul>
                <li>Only one entry for each type of fruit or filling</li>
                <li>No cream or chiffon pies</li>
            </ul>
            <bold style="font-weight:900">Pie Classes</bold>
            <ul>
                <li>Fruit pies (double crust)</li>
                <li>Pies (single crust)</li>
                <li>Other</li>
            </ul>
        </div>

        <button class="collapsible">Confection</button>
        <div class="content">
            <ul>
                <li>Must exhibit 4 pieces</li>
            </ul>
            <bold style="font-weight:900">Confection Classes</bold>
            <ul>
                <li>Fudge</li>
                <li>Uncooked Candy</li>
                <li>Divinity</li>
                <li>Other</li>
            </ul>
        </div>

        <button class="collapsible">Cookies</button>
        <div class="content">
            <ul>
                <li>Must exhibit 4 cookies</li>
                <li>No two entries may be the same product</li>
            </ul>
            <bold style="font-weight:900">Cookie Classes</bold>
            <ul>
                <li>Drop</li>
                <li>Filled</li>
                <li>Refrigerated</li>
                <li>Rolled</li>
                <li>Molded</li>
                <li>Bar</li>
                <li>Unbaked</li>
                <li>Pressed</li>
                <li>Other</li>
            </ul>
        </div>

        <button class="collapsible">Cakes</button>
        <div class="content">
            <ul>
                <li>Enter 1/4 of the whole cake</li>
                <li>If decorated, enter the whole cake</li>
            </ul>
        </div>

        <button class="collapsible">Quick Breads</button>
        <div class="content">
            <ul>
                <li>Must exhibit 4 pieces</li>
                <li>Fruit or nut bread enter 1/2 a loaf</li>
            </ul>
            <bold style="font-weight:900">Quick Bread Classes</bold>
            <ul>
                <li>Doughnuts</li>
                <li>Muffins</li>
                <li>Biscuits</li>
                <li>Fruit or Nut Bread</li>
            </ul>
        </div>

        <button class="collapsible">Yeast Breads</button>
        <div class="content">
            <p>This division is sponsored by Red Star. A youth and adult champion will be chosen and awarded the Red Star Gift Package</p>
            <ul>
                <li>No two family/household members may enter same recipe</li>
                <li>No two family/household member may enter same item</li>
                <li>Each entry from household must be appreciably different</li>
                <li>Breads - enter 2/3 loaf</li>
                <li>Rolls - enter 4 rolls</li>
            </ul>
            <bold style="font-weight:900">Yeast Bread Classes</bold>
            <ul>
                <li>White or Whole Wheat Bread</li>
                <li>Fruit or Nut Bread</li>
                <li>Cinnamon Rolls</li>
                <li>Dinner Rolls</li>
                <li>Breakfast or Tea Rolls</li>
                <li>Other Specialty Yeast Breads</li>
            </ul>
        </div>
    </div>

    <button class="collapsible"><h4>Beverages</h4></button>
    <div class="content">
        <ul>
            <li>Open to adults 21 years of age & older</li>
            <li>Bottle must be labeled with date of bottling & main ingredient</li>
            <li>Presentation & container will be considered in judging</li>
        </ul>
        <button class="collapsible">Beer</button>
        <div class="content">
            <ul>
                <li>Must be brewed & bottled by the exhibitor</li>
                <li>Two bottles - 1 empty with label & sealed; the other will be opened for judging</li>

            </ul>
            <bold style="font-weight:900">Beer Classes</bold>
            <ul>
                <li>Ale</li>
                <li>Lager</li>
                <li>Hybrid</li>
            </ul>
        </div>
        <button class="collapsible">Wine</button>
        <div class="content">
            <ul>
                <li>Two bottles - 1 empty with label & sealed; the other will be opened for judging</li>
                <li>Must be in a regulation wine bottle, corked & sealed</li>

            </ul>
            <bold style="font-weight:900">Wine Classes</bold>
            <ul>
                <li>Grape</li>
                <li>Fruit</li>
                <li>Vegetable</li>
                <li>Other</li>
            </ul>
        </div>
        <button class="collapsible">Carbonated Beverages</button>
        <div class="content">
            <ul>
                <li>Two bottles of each beverage</li>

            </ul>
            <bold style="font-weight:900">Wine Classes</bold>
            <ul>
                <li>Root Beer</li>
                <li>Ginger Ale</li>
                <li>Cider</li>
                <li>Other</li>
            </ul>
        </div>

    </div>

    <button class="collapsible"><h4>Cupcake Decorating</h4></button>
    <div class="content">
        <bold style="font-weight:900">Saturday - 2:00 PM - Old Hall</bold>
        <ul>
            <li>Decorations, frosting & cupcakes provided</li>
            <li>Entrant will be given 1/2 hour to decorate cupcake</li>
            <li>Decorated cupcakes will be judged at 3:00 PM</li>
        </ul>
    </div>

    <button class="collapsible"><h4>Disaster Struck!</h4></button>
    <div class="content">
        <ul>
            <li>
                <bold>Something Happened!</bold> The material accidently ripped, the dog made a stain that won't come out or
                ate some of it, a new technique didn't work, the plaids don't match - you have the picture
            </li>
            <li><bold>Include your story:</bold> What happened? Also include the steps you took to try to solve the problem</li>
            <li>
                <bold>Judging:</bold> Will be on the workmanship other than the disator & some of your explanation. The judge &
                the public will be invited to make suggestions on how to avoid the problem or how to solve it
            </li>
        </ul>
    </div>

    <button class="collapsible"><h4>Honey</h4></button>
    <div class="content">
        <ul>
            <li>Honey must be clean and covered with clear covering</li>
        </ul>
        <bold style="font-weight:900">Honey Classes</bold>
        <ul>
            <li>Extracted, White (1 jar)</li>
            <li>Extracted, Dark (1 jar)</li>
            <li>Comb (uniform in carton)</li>
        </ul>
    </div>
    <button class="collapsible"><h4>Preserved Foods</h4></button>
    <div class="content">
        <ul>
            <li>Use standard canning jars and lids with rings removed</li>
            <li>Everything must be labeled on the lid, not the side or front of jar</li>
            <li>Label must have: date canned, content, time & method of processing</li>
            <li>Tomatoes must indicate that either citric acid or lemon juice or vinegar was used & the amout or they must have been pressure canned</li>
            <li>Maximum of 6 entries per class but no more than one of each type of food or recipe. Example: 1 raspberry jam and 1 strawberry jam, but not 2 raspberry jams</li>
            <li>Jams & jellies must be sealed and pressed</li>
            <li>Canning must be current year's product: September 2018-August 2019</li>
            <li>Pickles and relishes must have recipes</li>
            <li>Dehydrated foods: attach recipe in a sealed Ziploc bag</li>
        </ul>
        <bold style="font-weight:900">Preserved Food Classes</bold>
        <ul>
            <li>Fruits</li>
            <li>Jams</li>
            <li>Jellies</li>
            <li>Meats</li>
            <li>Pickles</li>
            <li>Poultry</li>
            <li>Relishes</li>
            <li>Salsa</li>
            <li>Sauces</li>
            <li>Seafoods</li>
            <li>Vegetables</li>
        </ul>
    </div>
    <button class="collapsible"><h4>Quilt Block Challenge</h4></button>
    <div class="content">
        Purchase a Quilt Block Kit to incorporate with your own fabric and create an unquilted square to be
        judged at the fair. Submitted blocks will be used after the fair to create a Lacamas community quilt.
        <ul>
            <li>Kits are $1 & available at the Lacamas Community Center at Bingo on Fridays
                from 5:30-9:00 PM. Or send a SASE with $1 to Lacamas Community Center, PO Box 6, Roy, WA 98580.
                Each kit contains a 7" square of pre-washed fabric</li>
            <li>Your finished block must include all or part of the 7" challenge fabric from
                the kit & may be patchwork, foundation, piercing, applique, etc. The work may be done by hand or machine</li>
            <li>Embellishments are allowed but must be securely attached & washable</li>
            <li>Only unfinished blocks, 12 1/2" square, will be considered for judging</li>
            <li>All fabric must be pre-washed</li>
            <li>Enter your square on Thursday, August 22, 2019, from 12-7 PM or mail to Lacamas Community Center any time prior to entry date deadline</li>
            <li>You may pick your ribbons & comments on Sunday after 4 PM or provide a SASE & we will send them to you</li>
        </ul>
        
    </div>
    <button class="collapsible"><h4>Sewing & Needlework</h4></button>
    <div class="content">
        <ul>
            <li>Age Divisions: Youth & Adult</li>
            <li>List the description of the item</li>
            <li>Please enter a maximum of 3 items in a category</li>
            <li>Items must not be the same - change of color/yarn/etc. is not acceptable as different</li>
        </ul>
        <bold style="font-weight:900">Sewing & Needlework Classes</bold>
        <ul>
            <li><strong>Garments</strong> (single or multiple item(s) of clothing)</li>
            <li><strong>Clothing Accessories</strong> (such as purses, belts, scarves)</li>
            <li><strong>Household Items</strong> (such as kite, pillow, etc.)</li>
            <li><strong>Recycled Items</strong> (include picture of the item being recycled)</li>
            <li><strong>Embroidered Items</strong> (hand, free-motion or machine)</li>
            <li><strong>Patchwork, Quilted or Appliqued Item, Small</strong> (under 16 square ft)</li>
            <li><strong>Needlework</strong> (knitting, crocheting, weaving, latch hook, or needlepoint)</li>
            <li><strong>Handspun Yarn</strong> (enter one skein &amp; attach a 3"x5" card listing fiber content &amp; intended use for yarn)</li>
            <li><strong>Non-Sewn Items</strong> (embellished garment, printed or dyed garment)</li>
            <li><strong>Sewing Notebook</strong></li>
            <li><strong>Patchwork, Quilted or Appliqued Item, Large</strong> (over 16 square ft)</li>
            <li><strong>Felting, Needle &amp; Other</strong> (attach a 3"x5" card listing fiber &amp; method of felting)</li>
            <li><strong>Group Entry of Quilt</strong> made by quilting bee. You must have
                photographs of the quilting process - with all the quilters involved - mounted &amp; labeled on a poster board to be displayed</li>
        </ul>
    </div>
    <button class="collapsible"><h4>Table Settings & Picnic Baskets</h4></button>
    <div class="content">
        <ul>
            <li>One entry per person</li>
            <li>Only one place setting & center piece needed</li>
            <li>Each exhibit will be given a space of 2'x2'</li>
            <li>Must have a cloth covering the space</li>
            <li>Entry must be titled & have a description of the occasion or event</li>
            <li>Entry must be accompanied with a menu card, legible from 3 feet away, which will be judged as par tof the display</li>
            <li>Note on the reverse side of the card or on an extra card any handmade-by-exhibitor linens or other elements of the basket or place setting</li>
        </ul>
    </div>
</div>


<button class="collapsible"><h3>Horticulture Departments</h3></button>
<div class="content">


    <button class="collapsible"><h4>Floral & Potted Plants</h4></button>
    <div class="content">

    </div><button class="collapsible"><h4>Fruits</h4></button>
    <div class="content">

    </div><button class="collapsible"><h4>Hay, Grains & Legumes</h4></button>
    <div class="content">

    </div><button class="collapsible"><h4>Herbs</h4></button>
    <div class="content">

    </div><button class="collapsible"><h4>Vegetables</h4></button>
    <div class="content">

    </div><button class="collapsible"><h4>Vegetable Critter Contest</h4></button>
    <div class="content">

    </div>
</div>
<button class="collapsible"><h3>Animal Departments</h3></button>
<div class="content">

    <button class="collapsible"><h4>Alpacas</h4></button>
    <div class="content">
        Enter Saturday by 9 AM, Judging at 11 AM
        <ul>
            <li>Adults may only enter type class</li>
        </ul>
        <table>
            <tr>
                <th>Class</th>
                <th>Information/Lots</th>
            </tr>
            <tr>
                <td>Fitting & Showing</td>
                <td>Small Fry, Junior, Intermediate, Senior</td>
            </tr>
            <tr>
                <td>Type</td>
                <td>Classes determined and/or combined at superintendent's discretion</td>
            </tr>
            <tr>
                <td>Fleeces & Pelts</td>
                <td>Enter Thursday in the Ag. Dept</td>
            </tr>
        </table>
    </div>

    <button class="collapsible"><h4>Beef Cattle</h4></button>
    <div class="content">

    </div>
    <button class="collapsible"><h4>Cats</h4></button>
    <div class="content">

    </div>
    <button class="collapsible"><h4>Cavies</h4></button>
    <div class="content">

    </div>
    <button class="collapsible"><h4>Dairy Cattle</h4></button>
    <div class="content">

    </div>
    <button class="collapsible"><h4>Dogs</h4></button>
    <div class="content">

    </div>
    <button class="collapsible"><h4>Goats</h4></button>
    <div class="content">

    </div>
    <button class="collapsible"><h4>Horses</h4></button>
    <div class="content">

    </div>
    <button class="collapsible"><h4>Miniature Horses</h4></button>
    <div class="content">

    </div>
    <button class="collapsible"><h4>Poultry</h4></button>
    <div class="content">

    </div>
    <button class="collapsible"><h4>Rabbits</h4></button>
    <div class="content">

    </div>
    <button class="collapsible"><h4>Sheep</h4></button>
    <div class="content">

    </div>
    <button class="collapsible"><h4>Swine</h4></button>
    <div class="content">

    </div>

</div>

<button class="collapsible"><h3>Expressive Arts Departments</h3></button>
<div class="content">

    <button class="collapsible"><h4>Collections</h4></button>
    <div class="content">

    </div>
    <button class="collapsible"><h4>Crafts</h4></button>
    <div class="content">

    </div>
    <button class="collapsible"><h4>Educational Displays</h4></button>
    <div class="content">

    </div>
    <button class="collapsible"><h4>Fine Arts</h4></button>
    <div class="content">

    </div>
    <button class="collapsible"><h4>Performing Arts</h4></button>
    <div class="content">

    </div>
    <button class="collapsible"><h4>Photography</h4></button>
    <div class="content">

    </div>
</div>

<button class="collapsible"><h3>Misc. Departments & Activities</h3></button>
<div class="content">
    <button class="collapsible"><h4>Eggs</h4></button>
    <div class="content">

    </div>
    <button class="collapsible"><h4>Fleeces & Pelts</h4></button>
    <div class="content">

    </div>
    <button class="collapsible"><h4>Natural Resources</h4></button>
    <div class="content">

    </div>
    <button class="collapsible"><h4>Kiddie Korral</h4></button>
    <div class="content">

    </div>
    <button class="collapsible"><h4>Petting Farm</h4></button>
    <div class="content">

    </div>
    <button class="collapsible"><h4>Rope Bridge</h4></button>
    <div class="content">

    </div>
    <button class="collapsible"><h4>Horseshoe Contest</h4></button>
    <div class="content">

    </div>
    <button class="collapsible"><h4>What's the Buzz Diner</h4></button>
    <div class="content">

    </div>
    <button class="collapsible"><h4>Lego Building Challenge</h4></button>
    <div class="content">

    </div>
</div>
