@{
    ViewBag.Message = "We make every effort to meet the following Aims and Purposes:";
}

<h2>@ViewBag.Message</h2>
<ul>
    <li>To improve relations between rural and urban people by 
    providing our urban visitors with a truly country setting 
    and glimpse at rural living and economy.</li>
    <li>To build pride in our community</li>
    <li>To present product from farm and home</li>
    <li>To educate and expand the horizons of one another through 
    exhibiting, judging, and demonstrating</li>
    <li>To highlight and applaud all generations, especially our Senior citizens and youth</li>
    <li>To provide:
        <ul>
            <li>Social contacts and an opportunity for neighbors to meet one another</li>
            <li>Wholesome competition and a safe place to practice sportsmanship</li>
            <li>A place to develop, train, and strengthen truly American character of
                fairness, trust, and goodwill through participation, and accomplishment</li>
            <li>Recreation and relaxation through contests, competition, and local area entertainment</li>
            <li>A showplace for youth programs operating in our local areas</li>
        </ul>
    </li>
</ul>
